
<div class="row">
<div class="col">
<div class="card mb-3">
    <div class="card-body">
    <h4><b> Shopping Cart (<%= @cart.products.count %>)</b></h4>
    </div>
</div>
<% @cart.cart_products.each do |cp| %>
            <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-3">
                <%= image_tag "#{@cart.id}.jpg", class:"img-fluid rounded-start" %></div>
                <div class="col-md-7">
                <div class="card-body">
                    <h4 class="card-title"> <%= cp.product.name %> </h4>
                    <h6 class="text-muted"> <%= cp.product.category.name %> </h6>
                    <p class="card-text"> <%= cp.product.description %> </p>
                </div>
                </div>
                </div>
            </div>
        <% end %>
</div>
<div class="col"><div class="card">
<div class="card-body">
<h4><b>Cart Sumary</b></h4>
<h5><%= @cart.total %></h5>
</div>
</div>
</div>
</div>

